.lxproject
.lxpreferences
.DS_Store
.idea/
*.iml
*.log
target/
com/
heronarts/
icon/
data/
japplemenubar/
META-INF/
processing/
uk/
overview.html
.netbeans_automatic_build
*.lck
*.tmp
*~
pixliteconfig.json
build/*
fboffsets.json
gfloodoffsets.json
fpetaloffsets.json
outputmap.json
unity
stereo
mapoffsets.json
sc/tyson/*.wav
ctrlsigmap.json




